@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


/* ====================================================================================================================   Start */
.header-text {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #0d6efd;
}

.or-line {
    width: 100%;
    height: 15px;
    border-bottom: 1px solid;
    margin: 0 1rem;
}

.muj-button {
    padding: 0 5rem !important;
    text-align: center;
}

.flex {
    display: flex;
    padding: .5rem 0;
}
/* ====================================================================================================================   Childern */
.align-button-right {
    margin: 10px;
}

.children-item-checkbox, .children-item-delete {
    position: absolute;
    right: 10px;
    top: 0px;
}

.muj-checkbox {
    position: absolute;
    transform: scale(2);
    right: 30px;
    top: 18px;
    cursor: pointer;
}

.parent-children-icon-bar {
    position: absolute;
    display: flex;
    top: 2px;
    left: 3px;
    max-width: 61px
}

    .parent-children-icon-bar .calendar-icon {
        transform: scale(.8);
    }


.mud-grid-spacing-xs-3 > .mud-grid-item {
    padding: 2px;
}

.mud-icon-button {
    padding: 6px !important;
}
/*.children-item-checkbox {
    top: -10px;
    
}

.children-item-delete {
    top: 0px;
}*/
/* ====================================================================================================================   Calendar */
.calendar {
    position: relative;
}

    .calendar .mujgrid {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
    }

    .calendar .mujgrid .weekend-day {
        background: #56565656;
    }


    .calendar .calendar-header {
        padding-bottom: 10px;
        
        stroke-dasharray:inherit
        
    }

        .calendar .calendar-header .header-text {
            /*color: #fff;*/
            font-size: 2rem;
            background-color: #a4a2a234;
            padding: .2rem 0
        }

        .calendar .weekend-panel {
            padding: 3px 0;
        }

    .calendar .weekend-panel::before {
        position: absolute;
    }
    .calendar .weekend-panel::before {
        position: absolute;
        content: "";
        top: 0;
        left: 71%;
        right: .5%;
        bottom: 0;
        background: #b9b4534b;
    }

    .calendar .mujgrid .datum {
        position: relative;
        width: 90%;
        height: 60px;
        margin: 1px;
        cursor: pointer;
        background-color: transparent;
    }

        .calendar .mujgrid .datum:hover {
            background: #89888830;
        }

    .calendar .mujgrid .current-month-background {
        background-color: #0071c156;
    }

    .calendar .mujgrid .today-background {
        background: #b07f265f;
        box-shadow: inset 0 0 0 2px #b07f26d1;
        
    }

.datum .date-number {
        position: absolute;
        top: 5px;
        right: 8px;
        font-size: .9rem;
        text-decoration: underline;
    }

.datum .date-childrens {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    font-weight: bold;
    font-size: 1.3rem;
}

.calendar .action-panel {
    display: flex;
    padding-bottom: 5px;
}

    .calendar .action-panel .calendar-date{
        margin: auto;
    }

    .calendar .action-panel .calendar-arrow {
        cursor: pointer;
    }
        .calendar .action-panel .calendar-arrow:hover {
            color: #097cceff;
        }

















@media (max-width: 600px) {
    .pa-4 {
        padding: 2px !important;
    }

    .parent-children-icon-bar {
        left: -2px;
        max-width: 21px;
        flex-wrap: wrap;
    }

        .parent-children-icon-bar .calendar-icon {
            /*transform: scale(.7);*/
            width: 17px;
            height: 17px;
        }
}