@page "/appsite"


<h3>AppSite</h3>


<MudContainer MaxWidth="MaxWidth.Large" Class="pa-4">
    <MudGrid Class="mt-5 pa-1">
        <MudItem xs="12" lg="5">
            <MudPaper Width="100%" Height="100%">
                <MudText>prvni panel</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" lg="7" Class="p-2 pb-4">
            <MudPaper Width="100%" Height="100%" Class="pa-4 calendar">
                <Calendar/>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
