@page "/"
@using System.Net.Http.Headers
@using Blazored.LocalStorage
@inject ILanguageContainerService language

<PageTitle>Index</PageTitle>
<MudContainer  Class="mud-appbar mud-theme-info header" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudStack Row="true">
        @*<MudIconButton Size="Size.Large" Color="Color.Default" Icon="@Icons.Filled.KeyboardBackspace" aria-label="@language["Back"]"></MudIconButton>*@
        <MudText Typo="Typo.h4" Class="pt-4 m-auto" Color="Color.Default">@language["IndexText1"]</MudText>
    </MudStack>
    <MudPaper Elevation="0" Class="oblouk"></MudPaper>
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    <AuthorizeView>
        <Authorized>
            <RedirectToAppSite />
        </Authorized>
        <NotAuthorized>
            <SignIn />
        </NotAuthorized>
    </AuthorizeView>
    <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
</MudContainer>