@page "/"
@using System.Net.Http.Headers
@using Blazored.LocalStorage
@inject ILanguageContainerService language

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    <PageTitle>Index</PageTitle>
    <MudPaper Elevation="0">
        <h1 Class="header-text">@language["IndexText1"]</h1>
    </MudPaper>
    
    <AuthorizeView>
        <Authorized>
            <RedirectToAppSite />
        </Authorized>
        <NotAuthorized>
            <SignIn />
        </NotAuthorized>
    </AuthorizeView>
    <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
</MudContainer>