@page "/"
@using System.Net.Http.Headers
@using Blazored.LocalStorage
@inject ILanguageContainerService language

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    <PageTitle>Index</PageTitle>
    <MudPaper Elevation="5">
        <MudText>@language["Pozdrav"]</MudText>
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </MudPaper>
    
    <AuthorizeView>
        <Authorized>
            <RedirectToAppSite />
        </Authorized>
        <NotAuthorized>
            <SignIn />
        </NotAuthorized>
    </AuthorizeView>
</MudContainer>