@page "/"
@using System.Net.Http.Headers
@using Blazored.LocalStorage
@inject ILanguageContainerService language

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    <PageTitle>Index</PageTitle>

    <MudText>@language["Pozdrav"]</MudText>
    <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>

    <AuthorizeView>
        
        <NotAuthorized>
            <MudNavLink Href="register">Register</MudNavLink>
            <MudNavLink Href="signin">Sign in</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>

   
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Large" Class="pa-4">
    <MudGrid Class="mt-5 pa-1">
        <MudItem xs="12" lg="5">
            <MudPaper Width="100%" Height="100%">
                <MudText>prvni panel</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" lg="7" Class="p-2 pb-4">
            <MudPaper Width="100%" Height="100%" Class="pa-4 calendar">
                <Calendar/>
            </MudPaper>
        </MudItem>
    </MudGrid>
    

</MudContainer>
